*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, skyblue, rgb(129, 91, 118));
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

#body .container{
    background-color: white;
    width: 35%;
    padding: 15px;
    border-radius: 5px;

}

#body .container .reg{
    position: relative;
}

#body .container .reg .line{
    position: absolute;
    background-color: black;
    height: 3px;
    width: 30px;
    bottom: -5px;


}

#body .container .label-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 15px;
    width: 100%;

}

#body .container .label-container .lefthand-labels {
    width: 50%;    
}

#body .container .label-container .lefthand-labels .first{
    padding: 5%;
    margin: 10px 0;
    width: 100%;
}

#body .container .label-container .lefthand-labels .second {
    padding: 5%;
    margin: 10px 0;
    width: 100%;
}

#body .container .label-container .lefthand-labels .third {
    padding: 5%;
    margin: 10px 0;
    width: 100%;
}

#body .container .label-container .righthand-labels {
    width: 50%;
}

#body .container .label-container .righthand-labels .first {
    padding: 5%;
    margin: 10px 0;
    width: 100%;
}

#body .container .label-container .righthand-labels .second {
    padding: 5%;
    margin: 10px 0;
    width: 100%;
}

#body .container .label-container .righthand-labels .third {
    padding: 5%;
    margin: 10px 0;
    width: 100%;
}

#body .container .h32{
    margin: 20px 0;
}

#body .container .gender{
    display: flex;
    margin: 0 15px;
    width: 80%;
    justify-content: space-between;
}

#body .container .reg-div{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

#body .container .register{
    display: flex;
    color: white;
    justify-content: center;
    width: 100%;
    border: none;
    background-image: linear-gradient(to right, skyblue, rgb(129, 91, 118));
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


/* mobiel view*/
@media (max-width:500px){

    #body {
        height: auto;
        background-image: linear-gradient(to right, rgb(50, 82, 95), rgb(187, 19, 139));            
    }

    #body .container {
        width: 80%;
    }

    #body .container .label-container {
        width: 100%;
        flex-direction: column;
        row-gap: 0;
    }

    #body .container .label-container .lefthand-labels {
        width: 100%;
    }

    #body .container .label-container .lefthand-labels .first {
        padding: 3%;
        width: 100%;
    }
    
    #body .container .label-container .lefthand-labels .second {
        padding: 3%;
        width: 100%;
    }
    
    #body .container .label-container .lefthand-labels .third {
        padding: 3%;
        width: 100%;
    }

    #body .container .label-container .righthand-labels{
        width: 100%;
    }

    #body .container .label-container .righthand-labels .first {
        width: 100%;
        padding: 3%;
    }

    #body .container .label-container .righthand-labels .second {
        width: 100%;
        padding: 3%;
    }

    #body .container .label-container .righthand-labels .pass {
        width: 100%;
        /* padding: 3%; */
    }

    #body .container .label-container .righthand-labels .third {
       width: 100%;
       padding: 3%;
    } 

    #body .container .gender{
        flex-direction: column;
        row-gap: 5px;
        margin-left: 0;

    }       
}


.lojo{
    padding:40px
}

